.build/
*.xcodeproj/
DerivedData/
.swiftpm/
xcuserdata/
.DS_Store
Package.resolved
.claude/
.deps/
Sources/CLlama/include
# Worktree-local symlink into the shared dependency dir (created by workers).
/.deps
